body {
  margin: 0px;
  font-family: "Microsoft YaHei", sans-serif;
  letter-spacing: 0.2rem;
}

/* carousel */
.carousel {
  /* width: 100%; */
  height: 100vh;
  background-image: url(../img/index/bluebg2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
  text-align: center;
}

.carousel>h1 {
  padding: 2rem 0px;
  letter-spacing: 0.4rem;
  color: white;
  margin-top: 2rem;
}

.carouselbut {
  text-align: center;
  margin-top: 4rem;
}

.carouselbut a {
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  text-decoration: none;
  color: white;
  border-radius: 0.3rem;
  padding: 10px 34px 10px 40px;
}

.carouselbut a:hover {
  color: #0071db;
  background-color: white;
}

.slider {
  width: 100%;
  /* position: relative;
    top: 13%; */
}

.slick-slide {
  margin: 0rem 1rem;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
  /* color: rgb(204, 204, 204); */
  font-size: 2rem !important;
}

.slick-slide {
  transition: all ease-in-out 0.3s;
  opacity: 0.2;
  text-align: center;
}

.slider div h1 {
  margin: 25px 0px 15px 0px;
  color: white;
  letter-spacing: 0.3rem;
}

.slider div p {
  margin: 5px 0px 0.4rem 0px;
  letter-spacing: 0.2rem;
  color: white;
}

.slick-active {
  opacity: 0.5;
}

.slick-current {
  opacity: 1;
}

.d1 {
  /* width: 100%; */
  height: 100vh;
  background-color: antiquewhite;
  background-image: url(../img/index/graywaveBg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title h1 {
  position: relative;
  top: 170px;
  padding-left: 10%;
  margin-top: 0px;
}

.botm {
  display: flex;
  width: 80%;
  /* background-color: aqua; */
  position: relative;
  left: 10%;
  top: 22%;
}

.pic {
  /* border: 1px solid red; */
  /* background-color: azure; */
  width: 60%;
  height: 60vh;
  position: relative;
  /* height: 100px; */
  padding: 0px 3%;
}

.splide__slide {
  opacity: 0.6;
}

video {
  position: absolute;
  z-index: -1;
}

.alpha {
  /* background-color: #0071db; */
  z-index: -1;
  position: absolute;
}

.splide__slide.is-active {
  opacity: 1;
}

/* 更改下方選取時的框 */
.splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 5px solid #0057a8 !important;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 修改下方的形狀變成圓形 */
.border {
  width: 100px !important;
  height: 100px !important;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 8% !important;
}

#thumbnail-carousel {
  margin-top: 3%;
  padding-left: 5% !important;
  text-align: center;
  /* background-color: #0071db; */
}

/* 按鈕消失 */
.splide__arrow {
  display: none !important;
}

.splide__list {
  background-image: url(../img/index/梵谷電影.mp4);
}




.text {
  padding: 3% 5% 5% 5%;
  width: 36%;
  text-align: center;
  /* border: #4495E1 solid 1px; */
  min-width: 400px;
}

#text1 {
  display: block;
}

#text2,
#text3,
#text4,
#text5 {
  display: none;
}

.text h1 {
  margin-bottom: 2rem;
  letter-spacing: 0.3rem;
}

.text p {
  font-size: 17px;
  letter-spacing: 0.3rem;
  text-align: justify;
  line-height: 2.2rem;
  margin-bottom: 3rem;
}

.text a {
  margin: 1rem;
}

.bi{
  font-size: 30px;
  color: white;
  background-color: #4495e1;
  padding: 2px 40px;
  border-radius: 50px;

}

.text a:hover .bi {
  background-color: #0071db;
}

/* 第二部分 */
.d2 {
  color: white;
  /* width: 100%; */
  height: 100vh;
  background-image: url(../img/index/TheGameBg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.timebox {
  width: 700px;
  backdrop-filter: blur(5px);
  background-color: hsla(209, 100%, 33%, 0.7);
  /* background-color: hsl(209, 100%, 33%); */
  border-radius: 0.4em;
  text-align: center;
  box-shadow: 6px 6px 4px 2px rgba(15, 15, 15, 0.28);
  padding: 3rem;
}

.timebox h2 {
  margin: 1rem 0px;
  margin-bottom: 1rem;
  letter-spacing: 0.5rem;
}

.timebox1 {
  position: relative;
  left: 3%;
  text-align: center;
  width: 94%;
  /* background-color: #eb2f2f; */
  margin-top: 2rem;
  padding: 2rem;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
}

.timetext {
  margin-left: 1rem;
  font-size: 40px;
  font-weight: bold;
}

.timebox1~p {
  margin-top: 2.5rem;
  letter-spacing: 0.2rem;
  font-size: 18px;
  font-weight: bold;
}

.timebox a {
  padding: 0.7rem 3rem;
  border-radius: 5rem;
  background-color: white;
  font-weight: bold;
  color: #0057a8;
  text-decoration: none;
  box-shadow: 3px 3px 3px 1px rgba(15, 15, 15, 0.28);
}

.timebox a span {
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
}

.timebox a:hover {
  background-color: #eb2f2f;
  color: white;
}

/* 第三部分 */
.d3 {
  text-align: center;
  background-image: url(../img/index/bluewaveBg.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-bottom: 4rem;
  /* height: 1700px; */
}

.d3 h1 {
  color: #1c3d5c;
  letter-spacing: 0.2rem;
  margin: 0px;
  margin-top: 2rem;
}

.newsbar>ul {
  list-style: none;
  display: inline-flex;
  position: relative;
  left: 1.3%;
}

.newsbar ul li {
  padding: 2px 20px;
  display: inline- block;
  color: #1c3d5c;
}

.newsbar ul span {
  padding: 3px 30px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-decoration: none;
  /* background-color: #b7bec4; */
}

.newsbarhr {
  border-left: 0.2rem solid #1c3d5c;
}

.newsbar ul li span:hover {
  background-color: #4495e1;
  color: white;
  cursor: pointer;
  border-radius: 0.3rem;
}

/* 設定給bar的點擊更改顏色 */
.butfocus {
  color: white !important;
  background-color: #4495e1 !important;
  border-radius: 0.3rem !important;
}

.newsAll {
  position: relative;
  left: 10%;
  width: 80%;
  height: fit-content;
  margin-top: 4rem;
}

.newsindex {
  display: flex;
  width: 100%;
  height: fit-content;
}

.newsleft,
.newsright {
  position: relative;
  width: 42%;
}

.newsbox {
  font-size: 16px;
  letter-spacing: 0.3rem;
  line-height: 1.5rem;
  text-align: justify;
  width: 100%;
}

.newsbox p {
  margin-top: 1rem;
  letter-spacing: 0.3rem;
  line-height: 2rem;
}

.newscenter {
  width: 16%;
}

.newsright a,
.newsleft a {
  text-decoration: none;
  color: black;
}

/* 新聞圖片 */
.newsbox img {
  width: 100%;
  object-fit: fill;
  object-position: center;
}

.newsbox h2 {
  margin-top: 2rem;
  line-height: 2rem;
}

.newsbut {
  margin-top: 2rem;
}

.newsbut a {
  color: #0057a8;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  padding: 0.5rem 2rem;
}

.newsbut a:hover {
  box-shadow: 0px 16px 9px -12px rgba(77, 77, 77, 0.82);
}

.renewAll,
.productAll,
.discountAll {
  /* background-color: #e98879; */
  position: relative;
  left: 10%;
  width: 80%;
  display: none;
  margin-top: 4rem;
}

.renewindex,
.discountindex {
  display: flex;
  width: 100%;
  height: 20%;
  overflow: hidden;
}

.mg-top {
  margin-top: 5rem;
}

.renewpic,
.discountpic {
  display: flex;
  width: 40%;
  overflow: hidden;
}

.renewpic img,
.discountpic img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.renewtext,
.discounttext {
  padding: 3rem 1rem 2rem 3rem;
  font-size: 16px;
  line-height: 2rem;
  text-align: justify;
  width: 60%;
  color: black;
}

.renewtext a,
.discounttext a {
  color: #1c3d5c;
  text-decoration: none;
}

.renewtext p,
.discounttext p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}