@charset "UTF-8";
/* section1 標題 */
.section1 {
  width: 62.5%;
  height: 180px;
  display: flex;
  margin: 30px auto;
  background-color: #242424;
  border-radius: 8px;
  transition: 0.6s;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section1 .s1Info {
  width: 47.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.6s;
}
.section1 .s1Info h1 {
  color: #ffffff;
  font-size: 1.75rem;
  text-shadow: 1px 1px 8px rgba(85, 85, 85, 0.75);
}
.section1 .s1Info p {
  padding: 20px 40px;
  font-size: 0.85rem;
  color: #f8f8f8;
}
.section1 .s1Img {
  width: 52.5%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(12% 0, 100% 0, 100% 100%, 0% 100%);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.section1 .s1Img img {
  width: 100%;
  height: auto;
  filter: brightness(80%);
  transition: 0.6s;
}

.section1:hover {
  background-color: #0057a8;
}
.section1:hover .s1Info {
  background-color: #0057a8;
}
.section1:hover .s1Info h1 {
  color: #ffffff;
}
.section1:hover .s1Info p {
  color: #f8f8f8;
}
.section1:hover .s1Img img {
  filter: brightness(110%);
}

/* section2 內文 */
.section2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.section2 .s2left {
  width: 70%;
}
.section2 .s2left hr {
  width: 85%;
}
.section2 .s2left .new {
  display: flex;
  cursor: pointer;
  margin: 25px 0 25px 0;
  padding: 18px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, background-color 0.35s ease-in-out;
}
.section2 .s2left .new .newImg {
  width: 410px;
  height: 245px;
  margin: 0 30px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.section2 .s2left .new .newImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.section2 .s2left .new .newImg img:hover {
  transform: scale(1.1);
}
.section2 .s2left .new .newContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 450px;
  height: 220px;
  padding: 2.5% 20px 2.5% 20px;
  overflow: hidden;
  gap: 10px;
  border-radius: 5px;
}
.section2 .s2left .new .newContent h3 {
  font-size: 1.25rem;
}
.section2 .s2left .new .newContent p.newDate {
  color: #9b9b9b;
  font-size: 1.15rem;
}
.section2 .s2left .new .newContent p.newInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.15rem;
}
.section2 .s2left .new .newContent a {
  margin-left: auto;
}
.section2 .s2left .new:hover {
  background-color: #cbcbcb;
}
.section2 .s2left .new:hover .newContent p.newDate {
  color: #ffffff;
}
.section2 hr {
  opacity: 0.6;
  margin: 15px;
}
.section2 .s2right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 .s2right div.newClass {
  margin-top: 40px;
}
.section2 .s2right div.newClass li {
  list-style: none;
  margin: 0 0 60px 0;
  cursor: pointer;
}
.section2 .s2right div.newClass li div.oneNewClass {
  width: 250px;
  height: 100px;
  position: relative;
  transition: filter 0.4s ease-in-out;
}
.section2 .s2right div.newClass li div.oneNewClass img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}
.section2 .s2right div.newClass li div.oneNewClass span {
  position: absolute;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 650;
  letter-spacing: 0.15rem;
  top: 15px;
  left: 25px;
  text-shadow: 2px 2px 0 #000000;
  z-index: 1;
}
.section2 .s2right div.newClass li div.oneNewClass div.overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  background-color: #0057a8;
  top: 12px;
  left: 10px;
  z-index: -1;
}
.section2 .s2right div.newClass li div.oneNewClass div.bright {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8492647059) 20%, rgba(255, 255, 255, 0.3534663866) 65%);
  opacity: 0.85;
}
.section2 .s2right div.newClass li div.oneNewClass:hover {
  filter: brightness(135%);
}

/* section3 頁碼 */
.section3 {
  width: 80%;
  margin: 50px auto 60px auto;
  text-align: center;
}
.section3 a {
  text-decoration: none;
  color: #9b9b9b;
  font-size: 1.3rem;
  padding: 8px 12px;
  margin: 0 3px;
  border-radius: 7.5px;
  cursor: pointer;
  transition: 0.25s;
}
.section3 #nowPage {
  color: black;
}
.section3 a:hover {
  background-color: #c9c9c9;
  color: rgb(255, 255, 255);
}
.section3 .PageSelected {
  background-color: #9b9b9b;
  color: rgb(255, 255, 255);
}/*# sourceMappingURL=news.css.map */