@charset "UTF-8";
/* section1 標題 */
.section1 {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section1 div.s1h1 {
  border-bottom: 2px solid #f0f0f0;
  display: inline-block;
  padding: 10px 30px;
}
.section1 div.s1h1 h1 {
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.15em;
  color: #1c3d5c;
}

/* section2 內文 */
.section2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}
.section2 .s2left {
  width: 70%;
}
.section2 .s2left .new {
  display: flex;
  cursor: pointer;
  margin: 0 0 30px 0;
  padding: 18px;
  border-radius: 5px;
  transition: transform 0.2s ease-in-out, background-color 0.5s ease-in-out;
}
.section2 .s2left .new .outline {
  position: absolute;
  z-index: -55;
  width: 350px;
  height: 250px;
  background-image: url("../img/Games/AVA/cover.jpg");
  background-color: transparent;
  -webkit-clip-path: polygon(0% 0%, 90% 0, 100% 14%, 100% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 90% 0, 100% 14%, 100% 100%, 0% 100%);
  left: 42.5px;
  transform: translateY(-15px);
}
.section2 .s2left .new .newImg {
  width: 400px;
  height: 220px;
  margin: 0 20px 0 0;
  overflow: hidden;
  border-radius: 5px;
}
.section2 .s2left .new .newImg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}
.section2 .s2left .new .newImg img:hover {
  transform: scale(1.1);
}
.section2 .s2left .new .newContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 400px;
  height: 220px;
  padding: 2.5% 20px 2.5% 20px;
  overflow: hidden;
  gap: 10px;
  border-radius: 5px;
}
.section2 .s2left .new .newContent p.newDate {
  color: #9b9b9b;
}
.section2 .s2left .new .newContent p.newInfo {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.section2 .s2left .new .newContent a {
  margin-left: auto;
}
.section2 .s2left .new:hover {
  background-color: #cbcbcb;
}
.section2 .s2left .new:hover .newContent p.newDate {
  color: #ffffff;
}
.section2 .s2right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 .s2right div.newClass li {
  list-style: none;
  margin: 0 0 40px 0;
  cursor: pointer;
}
.section2 .s2right div.newClass li div.oneNewClass {
  width: 220px;
  height: 85px;
  position: relative;
  transition: filter 0.4s ease-in-out;
}
.section2 .s2right div.newClass li div.oneNewClass img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
}
.section2 .s2right div.newClass li div.oneNewClass span {
  position: absolute;
  color: #fff;
  font-size: 1.05rem;
  font-weight: 650;
  letter-spacing: 0.15rem;
  top: 15px;
  left: 25px;
  text-shadow: 2px 2px 0 #000000;
  z-index: 1;
}
.section2 .s2right div.newClass li div.oneNewClass div.overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  background-color: #0057a8;
  top: 9px;
  left: 9px;
  z-index: -1;
}
.section2 .s2right div.newClass li div.oneNewClass div.bright {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(88% 0, 100% 30%, 100% 100%, 0 100%, 0 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8492647059) 20%, rgba(255, 255, 255, 0.3534663866) 65%);
  opacity: 0.85;
}
.section2 .s2right div.newClass li div.oneNewClass:hover {
  filter: brightness(135%);
}

/* section3 頁碼 */
.section3 {
  width: 80%;
  margin: 20px auto 60px auto;
  text-align: center;
}
.section3 span {
  color: #9b9b9b;
  margin: 0 10px;
  cursor: pointer;
}
.section3 span#newPage1 {
  color: black;
}
.section3 span:hover {
  color: black;
}/*# sourceMappingURL=news.css.map */