<footer>
  <div class="footer-s1">
    <div class="footer-logo">
      <img src="/img/header/head_logo.png" alt="" />
    </div>
    <div class="footer-content">
      <ul>
        <li><a href="./rule.html">隱私權政策</a></li>
        <li><a href="./rule_2.html">使用條款</a></li>
        <li><a href="./rule_3.html">法律資訊</a></li>
      </ul>
      <ul>
        <li><a href="#">公司資訊</a></li>
        <li><a href="#">工作機會</a></li>
        <li><a href="#">據點</a></li>
      </ul>
      <ul>
        <li><a href="#">客服支援</a></li>
        <li><a href="#">錢包</a></li>
        <li><a href="#">我需要協助</a></li>
      </ul>
      <ul>
        <li><a href="#">Cookie政策</a></li>
        <li><a href="#">Cookie設定</a></li>
      </ul>
    </div>
  </div>
  <div class="footer-s2">
    <p>©TheGameC | XXX遊戲代理公司 客服專線：02-000-0000</p>
  </div>
</footer>
