<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.4.js"
      integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E="
      crossorigin="anonymous"
    ></script>
    <script src="/app/jquery.js"></script>
    <!-- bootstrap5 icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <!-- css -->
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/index.css" />
    <!-- AOS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- slick -->
    <link rel="stylesheet" href="/kits/slick/slick/slick.css" />
    <link rel="stylesheet" href="/kits/slick/slick/slick-theme.css" />
    <!-- splide -->
    <script src="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js
"></script>
    <link
      href="
https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css
"
      rel="stylesheet"
    />
    <!-- fullPage.css -->
    <link rel="stylesheet" href="/kits/fullpage/fullpage.css" />
    <link rel="icon" href="/img/header/logoicon.ico" />
    <title>ThegameC首頁</title>
  </head>

  <body>
    <!-- header -->
    <%- include('share/header')%>

    <div id="fullpage">
      <div class="section">
        <!-- carousel -->
        <div class="carousel">
          <h1>線上遊戲</h1>
          <section
            class="center slider"
            style="transition: 1s"
            data-aos="zoom-in"
          >
            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>

            <div>
              <img src="/img/index/maplestory.jpg" />
              <h1>《新楓之谷》</h1>
              <p>2D冒險遊戲</p>
              <p></p>
            </div>
          </section>
          <div class="carouselbut">
            <a href="">探索更多</a>
          </div>
        </div>
      </div>

      <div class="section">
        <div class="d1">
          <div class="title">
            <h1>熱門商品</h1>
          </div>
          <div class="botm">
            <div class="pic">
              <section
                id="main-carousel"
                class="splide"
                aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
              >
                <div class="splide__track">
                  <img class="alpha" src="/img/index/Comp.gif" alt="" />
                  <ul class="splide__list">
                    <li class="splide__slide">
                      <img src="/img/index/assassin1.png" alt="" />
                    </li>
                    <li class="splide__slide">
                      <img src="/img/index/marksman1.png" alt="" />
                    </li>
                    <li class="splide__slide">
                      <img src="/img/index/assassin1.png" alt="" />
                    </li>
                    <li class="splide__slide">
                      <img src="/img/index/support1.png" alt="" />
                    </li>
                    <li class="splide__slide">
                      <img src="/img/index/marksman1.png" alt="" />
                    </li>
                  </ul>
                </div>
              </section>
              <section
                id="thumbnail-carousel"
                class="splide"
                aria-label="The carousel with thumbnails. Selecting a thumbnail will change the Beautiful Gallery carousel."
              >
                <div class="splide__track">
                  <ul class="splide__list">
                    <li id="picimg1" class="splide__slide border">
                      <img src="/img/index/LOL.jpg" alt="" />
                    </li>
                    <li id="picimg2" class="splide__slide border">
                      <img src="/img/index/LOL.jpg" alt="" />
                    </li>
                    <li id="picimg3" class="splide__slide border">
                      <img src="/img/index/LOL.jpg" alt="" />
                    </li>
                    <li id="picimg4" class="splide__slide border">
                      <img src="/img/index/LOL.jpg" alt="" />
                    </li>
                    <li id="picimg5" class="splide__slide border">
                      <img src="/img/index/LOL.jpg" alt="" />
                    </li>
                  </ul>
                </div>
              </section>
            </div>
            <div id="text1" class="text">
              <h1>《極地戰壕3》</h1>
              <p>
                進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
              </p>
              <p>
                免費試玩《極地戰嚎 6》，親自體驗為何《GAME
                INFORMER》刊物會給予「從頭到尾絕無冷場」的評價。購買遊戲本體還可保留你所有的進度。
              </p>
              <a href=""><i class="bi bi-shop-window"></i></a>
              <a href=""><i class="bi bi-cart2"></i></a>
            </div>
            <div id="text2" class="text">
              <h1>《新楓之谷》</h1>
              <p>
                進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
              </p>
              <p>
                免費試玩《極地戰嚎 6》，親自體驗為何《GAME
                INFORMER》刊物會給予「從頭到尾絕無冷場」的評價。購買遊戲本體還可保留你所有的進度。
              </p>
              <a href=""><i class="bi bi-shop-window"></i></a>
              <a href=""><i class="bi bi-cart2"></i></a>
            </div>
            <div id="text3" class="text">
              <h1>《PUBG》</h1>
              <p>
                進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
              </p>
              <p>
                免費試玩《極地戰嚎 6》，親自體驗為何《GAME
                INFORMER》刊物會給予「從頭到尾絕無冷場」的評價。購買遊戲本體還可保留你所有的進度。
              </p>
              <a href=""><i class="bi bi-shop-window"></i></a>
              <a href=""><i class="bi bi-cart2"></i></a>
            </div>
            <div id="text4" class="text">
              <h1>《糖豆人》</h1>
              <p>
                進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
              </p>
              <p>
                免費試玩《極地戰嚎 6》，親自體驗為何《GAME
                INFORMER》刊物會給予「從頭到尾絕無冷場」的評價。購買遊戲本體還可保留你所有的進度。
              </p>
              <a href=""><i class="bi bi-shop-window"></i></a>
              <a href=""><i class="bi bi-cart2"></i></a>
            </div>
            <div id="text5" class="text">
              <h1>《世紀帝國》</h1>
              <p>
                進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
              </p>
              <p>
                免費試玩《極地戰嚎 6》，親自體驗為何《GAME
                INFORMER》刊物會給予「從頭到尾絕無冷場」的評價。購買遊戲本體還可保留你所有的進度。
              </p>
              <a href=""><i class="bi bi-shop-window"></i></a>
              <a href=""><i class="bi bi-cart2"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="d2">
          <div class="timebox">
            <!-- <h1>ThegameC</h1> -->
            <img src="/img/header/head_logo.png" alt="logo" />
            <h2>熱門遊戲夏季特賣</h2>
            <div class="timebox1">
              <span class="timetext">30</span>
              <span>Day</span>
              <span class="timetext">18</span>
              <span>Hr</span>
              <span class="timetext">35</span>
              <span>Min</span>
              <span class="timetext">10</span>
              <span>Sec</span>
            </div>
            <!-- <a href=""><span>火速前往</span></a> -->
            <p><a href="">火速前往!</a></p>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="d3">
          <br /><br /><br /><br /><br />
          <h1>最新消息</h1>
          <br />
          <div class="newsbar">
            <ul>
              <li id="newsbut">
                <span id="newsButs" class="butfocus">新聞</span>
              </li>
              <li id="renewbut" class="newsbarhr">
                <span id="renewButs">遊戲更新</span>
              </li>
              <li id="discountbut" class="newsbarhr">
                <span id="discountButs">優惠活動</span>
              </li>
              <li id="productbut" class="newsbarhr">
                <span id="productButs">新品上架</span>
              </li>
            </ul>
          </div>
          <div class="newsAll" id="newsAll">
            <div class="newsindex" id="newsindex">
              <div class="newsleft">
                <a href="">
                  <div class="newsbox">
                    <img src="/img/index/LOL.jpg" alt="" />
                    <h2>03/26 英雄聯盟更新 全新英雄登場！</h2>
                    <p>
                      進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
                    </p>
                  </div>
                  <br /><br /><br /><br /><br /><br />
                </a>
                <a href="">
                  <div class="newsbox">
                    <img src="/img/index/LOL.jpg" alt="" />
                    <h2>03/26 英雄聯盟更新 全新英雄登場！</h2>
                    <p>
                      進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
                    </p>
                  </div>
                </a>
              </div>
              <div class="newscenter"></div>
              <div class="newsright newsright2">
                <br /><br /><br /><br /><br /><br />
                <a href="">
                  <div class="newsbox">
                    <img src="/img/index/LOL.jpg" alt="" />
                    <h2>03/26 英雄聯盟更新 全新英雄登場！</h2>
                    <p>
                      進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
                    </p>
                  </div>
                </a>
                <br /><br /><br /><br /><br /><br />
                <a href="">
                  <div class="newsbox">
                    <img src="/img/index/LOL.jpg" alt="" />
                    <h2>03/26 英雄聯盟更新 全新英雄登場！</h2>
                    <p>
                      進入血脈賁張的現代游擊革命世界。探索令人嘆為觀止的景觀、直覺式的槍戰、多元的遊戲體驗與更多精彩內容——現在正是加入戰鬥的最好時機。
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <div class="newsbut">
              <a href="">查看更多</a>
            </div>
          </div>
          <div class="renewAll" id="renewAll">
            <div class="renewindex">
              <div class="renewpic">
                <img src="/img/index/LOL.jpg" alt="" />
              </div>
              <div class="renewtext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>

            <div class="renewindex mg-top">
              <div class="renewpic">
                <img src="/img/index/PUBG.jpg" alt="" />
              </div>
              <div class="renewtext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>
            <div class="renewindex mg-top">
              <div class="renewpic">
                <img src="/img/index/PUBG.jpg" alt="" />
              </div>
              <div class="renewtext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>
          </div>
          <div class="discountAll" id="discountAll">
            <div class="discountindex">
              <div class="discountpic">
                <img src="/img/index/LOL.jpg" alt="" />
              </div>
              <div class="discounttext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>

            <div class="renewindex mg-top">
              <div class="renewpic">
                <img src="/img/index/PUBG.jpg" alt="" />
              </div>
              <div class="renewtext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>
            <div class="renewindex mg-top">
              <div class="renewpic">
                <img src="/img/index/PUBG.jpg" alt="" />
              </div>
              <div class="renewtext">
                <h2>13.7版本更新公告</h2>
                <p>
                  在13.8版本，一批聯盟精靈和「聯萌英雄
                  墨菲特」將化身機甲特工！趕快進入駕駛艙，操縱鐵金剛拯救世界吧！覺得火箭飛拳太耗燃料，想用比較環保的投石攻擊？沒問題！「聯萌英雄
                  墨菲特」也會在這個版本於商店登場！
                  除了各種新的機甲主題風格裝飾以外，我們還重製了牛年特戰隊，並大幅削弱了近期人氣爆發的駭客和路西恩刷角流。
                </p>
                <a href="">查看全文</a>
              </div>
            </div>
          </div>
          <div class="productAll" id="productAll">
            <img src="/img/index/PUBGpeople.png" alt="" />
          </div>
        </div>

        <!-- footer -->
        <%- include('share/footer')%>
      </div>
    </div>
    <script src="/app/index.js"></script>
    <script src="/app/app.js"></script>

    <!-- slick輪播圖 -->
    <script
      src="./kits/slick/slick/slick.js"
      type="text/javascript"
      charset="utf-8"
    ></script>
    <script type="text/javascript">
      $(".center").slick({
        centerMode: true,
        centerPadding: "60px",
        slidesToShow: 5,
        responsive: [
          {
            breakpoint: 1500,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: "40px",
              slidesToShow: 3,
            },
          },
          {
            breakpoint: 760,
            settings: {
              arrows: false,
              centerMode: true,
              centerPadding: "40px",
              slidesToShow: 1,
            },
          },
        ],
      });
    </script>
    <!-- fullpage.js -->
    <script src="./kits/fullpage/fullpage.js"></script>
    <script>
      new fullpage("#fullpage", {
        sectionsColor: ["white", "white", "white"],
        licenseKey: "YOUR LICENSE KEY HERE ",
      });
    </script>
    <script src="/js/app.js"></script>

    <!-- splide -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var main = new Splide("#main-carousel", {
          type: "fade",
          rewind: true,
          pagination: false,
          arrows: false,
        });

        var thumbnails = new Splide("#thumbnail-carousel", {
          fixedWidth: 100,
          fixedHeight: 60,
          gap: 10,
          rewind: true,
          pagination: false,
          isNavigation: true,
          breakpoints: {
            600: {
              fixedWidth: 60,
              fixedHeight: 44,
            },
          },
        });

        main.sync(thumbnails);
        main.mount();
        thumbnails.mount();
      });
    </script>
  </body>
</html>
